@import "tailwindcss";

@theme {
  --color-primary: #3573FC;
  --color-primary-light: #8EB6F9;

  --color-text-primary: #626A75;
  --color-text-secondary: #E2E4E8;

  --color-bg-primary: #1E2939;
  --color-bg-secondary: #1E2939;
  --color-bg-collections: #1E2939;

  --color-white: #FFFFFF;
  --color-black: #000000;
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cabinet: "Cabinet Grotesk", sans-serif;
}

body {
  font-family: var(--font-sans);
}

.mySwiper {
  width: 100%;
  padding: 20px 0 70px;
}

.mySwiper .swiper-wrapper {
  align-items: center;
}

.mySwiper .swiper-pagination {
  position: static;
  margin-top: 5px;
}

.mySwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #cbd5e1;
  opacity: 1;
  transition: all 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 9999px;
  background: #2563eb;
}
/* User card sixth section swiper css */

.UserCardSwiper .swiper-pagination {
    position: absolute !important;
    left: unset !important;
    right: 19% !important;
    top: 65% !important;
    width: fit-content !important;
}