@import "tailwindcss";

@theme {
  --color-primary: #3573fc;
  --color-primary-light: #8eb6f9;

  --color-text-primary: #626a75;
  --color-text-secondary: #e2e4e8;

  --color-bg-primary: #1e2939;
  --color-bg-secondary: #1e2939;
  --color-bg-collections: #1e2939;

  --color-white: #ffffff;
  --color-black: #000000;
}
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("./assets/fonts/CabinetGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-cabinet: "Cabinet Grotesk", sans-serif;
}

body {
  font-family: var(--font-sans);
}

.mySwiper {
  width: 100%;
  padding: 20px 0 70px;
}

.mySwiper .swiper-wrapper {
  align-items: center;
}

.mySwiper .swiper-pagination {
  position: static;
  margin-top: 5px;
}

.mySwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #cbd5e1;
  opacity: 1;
  transition: all 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 9999px;
  background: #2563eb;
}
/* User card sixth section swiper css */
@media (min-width: 1024px) {
  .UserCardSwiper {
    padding-bottom: 0;
  }

  .UserCardSwiper .swiper-pagination {
    right: 30px !important;
    bottom: 120px !important;
    left: auto !important;
    transform: none !important;
  }
}
